**Business Understanding (This is the CORE)**
# üî¥ Business Problem (Plain English)

‚ÄúWe receive thousands of text documents.
Humans cannot read and process them fast enough.
We need automation.‚Äù

# üî¥ Business Impact

Manual cost ‚Üì

Processing time ‚Üì

Errors ‚Üì

Decision speed ‚Üë

üìå This is a cost-saving + efficiency ML problem.

# 1Ô∏è‚É£ Load BBC dataset

In [ ]:
import os
os.listdir("../data")

['bbc-news-data.csv']

In [19]:
import pandas as pd

bbc_df = pd.read_csv(
    "../data/bbc-news-data.csv",
    sep="\t",
    engine="python"
)

bbc_df.head()

,category,filename,title,content
0,business,001.txt,Ad sales boost Time Warner profit,Quarterly profits at US media giant TimeWarne...
1,business,002.txt,Dollar gains on Greenspan speech,The dollar has hit its highest level against ...
2,business,003.txt,Yukos unit buyer faces loan claim,The owners of embattled Russian oil giant Yuk...
3,business,004.txt,High fuel prices hit BA's profits,British Airways has blamed high fuel prices f...
4,business,005.txt,Pernod takeover talk lifts Domecq,Shares in UK drinks and food firm Allied Dome...

In [20]:
bbc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  2225 non-null   object
 1   filename  2225 non-null   object
 2   title     2225 non-null   object
 3   content   2225 non-null   object
dtypes: object(4)
memory usage: 69.7+ KB

In [21]:
bbc_df.columns

Index(['category', 'filename', 'title', 'content'], dtype='object')

In [22]:
bbc_df['category'].value_counts()

category
sport            511
business         510
politics         417
tech             401
entertainment    386
Name: count, dtype: int64

In [25]:
bbc_df['title'].str.len().describe()

count    2225.000000
mean       31.367191
std         2.605422
min        16.000000
25%        31.000000
50%        32.000000
75%        33.000000
max        52.000000
Name: title, dtype: float64

**‚ÄúAll NLP tasks (Classification, NER, Summarization) will use BBC news dataset for consistency and CPU-friendly processing.‚Äù**